<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login / Sign Up</title>
  <link rel="stylesheet" href="/CSS/login.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
  <div class="form-container">
    <h2>ایمیل یا شماره موبایل خود را وارد نمایید</h2>


    <form action="/sec/auth/forgot-password" method="POST" class="form-container">
        <h2>بازیابی رمز عبور</h2>
        <p>ایمیل خود را وارد کنید تا لینک بازیابی رمز عبور برای شما ارسال شود.</p>
    
        <div class="input-group">
            <label for="email">ایمیل:</label>
            <input type="text" id="emailOrPhone" name="emailOrPhone" required placeholder="Enter email or phone">
        </div>
    
        <button type="submit" class="btn">ارسال لینک بازیابی</button>
    </form>
    
  </div>
</body>
</html>
